<div style="padding-left: 10px">
  <div style="height:300px;padding:30px 10px"> <!--class="column"-->
    <label class="pad" style="font-size:18px; text-align: center">Compare</label>
    <p class="mt-5 pad" style="font-size:14px">{{ message }}</p>
    <input class="mx-3 align-center" type="checkbox" (change)="showOnlyDifferent($event)"> 
    <span class="mx-3 align-center" style="position:relative;left:10px;font-size:14px !important;font-weight:bold;margin-left:10px" >Show only differences</span>
  </div>
  <table class="table">
    <tbody *ngFor="let featureSet of product?.featuresList">
    <tr class="header">
       <th>{{featureSet?.title}}</th>
    </tr>
    <tr *ngFor="let feature of featureSet?.features">
       <td>{{feature?.featureName}}</td>
    </tr>
    </tbody>
 </table>
</div>